/*CABINET*/

.cabinet{
    padding-bottom: 230px;
}
.cabinet-box{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-top: -90px;
    padding: 27px 0 51px 0;
    background-color: #fff;
    -webkit-box-shadow: 0px 4px 26px rgba(0, 0, 0, 0.142);
    -moz-box-shadow: 0px 4px 26px rgba(0, 0, 0, 0.142);
    box-shadow: 0px 4px 26px rgba(0, 0, 0, 0.142);
}
.cabinet-menu{
    width: 100%;
    max-width: 340px;
    padding-left: 25px;
    border-right: 1px solid #D9D9D9;
}
.cabinet-menu__title{
    margin-left: 25px;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #2A2A29;
}
.cabinet-menu__list{
    margin-top: 10px;
}
.cabinet-menu__item{
    display: block;
}
.cabinet-menu__link,
.cabinet-menu__sublink{
    display: block;
    font-style: normal;
    font-weight: normal;
    color: #2A2A29;
    text-decoration: none;
    border-top-left-radius:45px;
    border-bottom-left-radius:45px;
}
.cabinet-menu__link{
    height: 45px;
    line-height: 45px;
    padding: 0 25px;
    font-size: 14px;
}
.cabinet-menu__sublink{
    height: 31px;
    line-height: 31px;
    padding: 0 50px;
    font-size: 12px;
}
.cabinet-menu__link_active,
.cabinet-menu__link:hover,
.cabinet-menu__sublink_active,
.cabinet-menu__sublink:hover{
    background: #D7EFFF;
    color: #008DC9;
    font-weight: bold;
    -webkit-box-shadow: 0px 0px 9px rgba(200, 234, 255, 0.51);
    -moz-box-shadow: 0px 0px 9px rgba(200, 234, 255, 0.51);
    box-shadow: 0px 0px 9px rgba(200, 234, 255, 0.51);
}
.cabinet-menu-trianlge{
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #2A2A29;
}
.cabinet-menu__item_opened .cabinet-menu-trianlge,
.cabinet-menu__item:hover .cabinet-menu-trianlge{
    border-top: none;
    border-bottom: 4px solid #2A2A29;
}
.cabinet-menu__sublist{
    display: none;
}
.cabinet-menu__item_opened .cabinet-menu__sublist,
.cabinet-menu__item:hover .cabinet-menu__sublist{
    display: block;
}
.cabinet-content{
    flex: 1;
    padding: 0 60px;
}

/*CABINET LEVEL*/

.cabinet-box--levels{
    padding-bottom: 383px;
    background: url("../img/cabinet/levels/cabinet-levels-bg.svg") no-repeat bottom center, #FFFFFF;
}
.cabinet-levels__title{
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #2A2A29;
}
.cabinet-levels__subtile{
    margin: 8px 0 15px 0;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.5px;
    color: #000000;
}
.cabinet-levels__description{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.5px;
    color: #000000;
}
.cabinet-levels__list{
    margin-top: 35px;
}
.cabinet-levels-item{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 5px;
}
.cabinet-levels-btn{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 293px;
    height: 29px;
    padding: 0 20px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    background: #E9E9E9;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    color: #2A2A29;
}
.cabinet-levels-btn__name{
    width: 45px;
}
.cabinet-levels-btn__dash{
    margin: 0 28px;
}
.cabinet-levels-btn__points span{
    font-weight: normal;
    font-size: 11px;
}
.cabinet-levels-item-info{
    margin-left: 10px;
}
.cabinet-levels-item-info__arrow,
.cabinet-levels-item-info__text{
    display: inline-block;
    vertical-align: middle;
}
.cabinet-levels-item-info__text{
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    color: #2A2A29;
}
.cabinet-levels-btn_active{
    color: #FFFFFF;
}
.cabinet-levels-btn--one{
    background: #5EBBF2;
}
.cabinet-levels-btn--two{
    background: #629CF2;
}
.cabinet-levels-btn--three{
    background: #7076F9;
}
.cabinet-levels-btn--four{
    background: #8C70F9;
}
.cabinet-levels-btn--five{
    background: #A964FF;
}
.cabinet-levels-btn--six{
    background: #C15DFE;
}
.cabinet-levels-btn--seven{
    background: #D85DF7;
}
.cabinet-levels-btn--eight{
    background: #EA6CDE;
}
.cabinet-levels-btn--nine{
    background: #EA6CB0;
}
.cabinet-levels-btn--ten{
    background: #F46972;
}

/*CABINET ORDERS*/

.cabinet-orders__header{
    display: flex;
    flex-wrap: wrap;
}
.cabinet-orders__header-text{
    max-width: 498px;
}
.cabinet-orders__header-title{
    margin: 15px 0 17px 0;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #2A2A29;
}
.cabinet-orders__header-description{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.5px;
    color: #000000;
}
.cabinet-orders__check-past{
    display: block;
    width: 314px;
    height: 35px;
    margin-top: 25px;
    line-height: 31px;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    color: #2A2A29;
    -webkit-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.154);
    -moz-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.154);
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.154);
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    background-color: #fff;
    border: 2px solid #8EA4F3;
}
.cabinet-orders__header-img{
    margin-left: auto;
}
.cabinet-orders__list{
    margin-top: 16px;
    padding-top: 22px;
    border-top: 1px solid #D9D9D9;
}
.cabinet-order{
    margin-bottom: 14px;
    padding: 9px;
    -webkit-box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.12);
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    background-color: #fff;
}
.cabinet-order-top{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 9px;
    background: #F8F8F8;
}
.cabinet-order-top__text{
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
}
.cabinet-order-top__label,
.cabinet-order-top__value{
    display: inline-block;
    vertical-align: middle;
}
.cabinet-order-top__label{
    color: #A1A1A1;
}
.cabinet-order-top__value{
    color: #2A2A29;
}
.cabinet-order-top__actions{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: auto;
}
.cabinet-order-top__action{
    margin-right: 22px;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    color: #2A2A29;
}
.cabinet-order-top__toggle{
    width: 23px;
    height: 23px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    background: url("../img/cabinet/orders/arrow.svg") no-repeat center 60%, #E9E9E9;
    cursor: pointer;
}
.cabinet-order-top__toggle_opened{
    background: url("../img/cabinet/orders/arrow.svg") no-repeat center 50%, #E9E9E9;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
.cabinet-order-general{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 10px;
}
.cabinet-order-general__img{
    width: 75px;
    height: 75px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    overflow: hidden;
}
.cabinet-order-general__info{
    margin-left: 15px;
}
.cabinet-order-general-name{
    margin-bottom: 7px;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: #2A2A29;
}
.cabinet-order-general-link{
    display: block;
    margin-bottom: 8px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-decoration-line: underline;
    color: #2A2A29;
}
.cabinet-order-general-props{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #2A2A29;
}
.cabinet-order-general-props__item{
    display: inline-block;
    padding: 1px;
}
.cabinet-order-general-props__item:first-child{
    margin-right: 8px;
    padding-right: 12px;
    border-right: 1px solid #D0D0D0;
}
.cabinet-order-general__price{
    margin-left: auto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #FF5252;
}
.cabinet-order-general__price span{
    display: block;
    margin-top: 3px;
    color: #A1A1A1;
}
.cabinet-order-top__main{
    display: none;
    width: 100%;
    margin-top: 8px;
    padding-top: 10px;
    border-top: 1px solid #E8E8E8;
}
.cabinet-order-top__main_opened{
    display: block;
}
.cabinet-order-status{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
}
.cabinet-order-waiting{
    max-width: 350px;
    margin: 0 auto;
    padding: 13px 0 17px 0;
    text-align: center;
}
.cabinet-order-waiting__img{
    display: inline-block;
}
.cabinet-order-waiting__title{
    margin: 11px 0;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}
.cabinet-order-waiting__description{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #3B3838;
}
.cabinet-order-confirmation__text{
    max-width: 400px;
    margin: 0 auto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #9D9D9C;
}
.cabinet-order-confirmation__btns{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 12px 0 35px 0;
}
.cabinet-order-confirmation__reject,
.cabinet-order-confirmation__btn-blue{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 35px;
    margin: 0 8px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-decoration: none;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}
.cabinet-order-confirmation__reject{
    width: 147px;
    color: #2a2a29;
    -webkit-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.09);
    -moz-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.09);
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.09);
    background: #F5F5F5;
    border: 2px solid #8EA4F3;
}
.cabinet-order-confirmation__btn-blue{
    padding: 0 29px;
    background: #5EBBF2;
    color: #FFFFFF;
}
.cabinet-order-shipping{
    display: flex;
    flex-wrap: wrap;
    margin-top: 38px;
}
.cabinet-order-shipping-item{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 22px;
    padding: 12px 23px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    text-align: center;
    -webkit-box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.12);
    background-color: #fff;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}
.cabinet-order-shipping-item:first-child{
    width: 233px;
}
.cabinet-order-shipping-item:last-child{
    width: 358px;
    margin-left: auto;
}
.cabinet-order-shipping-item__name{
    margin-top: 3px;
    line-height: 131%;
    color: #2A2A29;
}
.cabinet-order-shipping-item__price{
    width: 100%;
    margin: 6px 0 4px 0;
    line-height: 14px;
    color: #FF5252;
}
.cabinet-order-shipping-item__description{
    font-size: 10px;
    line-height: 131%;
    color: #9D9D9C;
}
.cabinet-order-shipping-item__half{
    position: relative;
    width: 50%;
}
.cabinet-order-shipping-item__half:first-child{
    border-right: 1px solid #E8E8E8;
}
.cabinet-order-shipping-item__half:first-child:after{
    content: "or";
    position: absolute;
    top: 50%;
    right: -12px;
    width: 23px;
    height: 23px;
    margin-top: -12px;
    background-color: #fff;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 23px;
    text-align: center;
    color: #9D9D9C;
}
.cabinet-order-shipping-item__chosen{
    position: absolute;
    bottom: 100%;
    left: 50%;
    width: 149px;
    padding: 5px 16px;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    background: #FF8383;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: #FFFFFF;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}
.cabinet-order-road{
    display: flex;
    flex-wrap: wrap;
    align-items:flex-end;
    margin-top: 34px;
}
.cabinet-order-road__list{
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.cabinet-order-road__list:after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 7px;
    height: 3px;
    width: 100%;
    background-color: #fff;
}
.cabinet-order-road-item{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 16.666666667%;
    width: calc(100% / 6);
}
.cabinet-order-road-item__label{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20px;
    margin-bottom: 9px;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 100%;
    text-align: center;
    color: #2A2A29;
}
.cabinet-order-road-item__point{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 18px;
    height: 18px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.12);
    z-index: 2;
}
.cabinet-order-road-item__point span{
    width: 10px;
    height: 10px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    -webkit-box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.25);
    box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.25);
    background-color: #DADADA;
}
.cabinet-order-road-item__point_process span{
    background-color: #5EBBF2;
}
.cabinet-order-road-item__point_done span{
    background-color: #80CE7B;
}
.modal-cabinet-odrers{
    padding: 37px 30px 44px 30px;
    font-style: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #2A2A29;
}
.modal-cabinet-odrers__title{
    margin-bottom: 28px;
    font-weight: bold;
}
.modal-cabinet-odrers__text{
    margin-bottom: 15px;
    font-weight: normal;
}
.modal-cabinet-odrers .btn-modal-report{
    width: 174px;
}

/*CABINET EARNINGS*/

.cabinet-earnings__top{
    display: flex;
    flex-wrap: nowrap;
}
.cabinet-earnings__top-text{
    max-width: 483px;
}
.cabinet-earnings__title{
    margin-bottom: 14px;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #2A2A29;
}
.cabinet-earnings__description{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.5px;
    color: #000000;
}
.cabinet-earnings__img{
    margin-left: auto;
}
.cabinet-earnings-bank__label{
    padding: 3px 0 10px 0;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 12px;
    text-transform: capitalize;
    color: #2A2A29;
}
.cabinet-earnings-bank__box{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 21px;
    padding: 21px 40px 21px 30px;
    background-color: #fff;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0px 4px 26px rgba(0, 0, 0, 0.142);
    -moz-box-shadow: 0px 4px 26px rgba(0, 0, 0, 0.142);
    box-shadow: 0px 4px 26px rgba(0, 0, 0, 0.142);
}
.cabinet-earnings-bank__logo{
    max-width: 100px;
}
.cabinet-earnings-bank__card{
    margin-left: 42px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.5px;
    color: #3B3838;
}
.cabinet-earnings-bank__name{
    margin-left: 62px;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.5px;
    color: #3B3838;
}
.cabinet-earnings-bank__controls{
    margin-left: auto;
}
.cabinet-earnings-bank__btn{
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}
.cabinet-earnings-bank__btn:last-child{
    margin-left: 25px;
}
.cabinet-earnings-bank-redeem__form{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.cabinet-earnings-bank-redeem__text{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #2A2A29;
}
.cabinet-earnings-bank-redeem__text span{
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: #9D9D9C;
}
.cabinet-earnings-bank-redeem__inp{
    width: 100%;
    max-width: 300px;
}
.cabinet-earnings-bank-redeem__btn{
    width: 130px;
    height: 35px;
    line-height: 35px;
    background: #5EBBF2;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
}
.cabinet-earnings-bank__add{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 314px;
    height: 35px;
    margin-top: 5px;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #2A2A29;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    -webkit-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.154);
    -moz-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.154);
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.154);
    border: 2px solid #8EA4F3;
    background-color: #fff;
    cursor: pointer;
}
.cabinet-earnings-bank__add img{
    margin-right: 8px;
}
.cabinet-earnings-history{
    margin-top: 18px;
    border-top: 1px solid #D9D9D9;
    border-bottom: 1px solid #D9D9D9;
}
.cabinet-earnings-history-point{
    padding: 0 13px 26px 13px;
    background-color: #F8F8F8;
}
.cabinet-earnings-history-point__items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.cabinet-earnings-history-point__item{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 144px;
    height: 75px;
    margin-top: 20px;
    padding: 13px 10px 9px 10px;
    background-color: #fff;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    -webkit-box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.12);
}
.cabinet-earnings-history-point__label{
    margin-bottom: 8px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #5EBBF2;
}
.cabinet-earnings-history-point__value{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #2A2A29;
}
.cabinet-earnings-history-point__btn{
    max-width: 378px;
    height: 35px;
    line-height: 35px;
    margin: 24px auto 0 auto;
    -webkit-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.154);
    -moz-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.154);
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.154);
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    background-color: #5EBBF2;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
}
.cabinet-earnings-history-table{
    margin-top: 24px;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: #3B3838;
}
.cabinet-earnings-history-table__head,
.cabinet-earnings-history-table__row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
}
.cabinet-earnings-history-table__head{
    background-color: #DEE5FC;
    font-weight: bold;
    color: #2A2A29;
    border-top-right-radius: 9px;
    border-top-left-radius: 9px;
}
.cabinet-earnings-history-table__row:nth-child(even){
    background-color: #F8F8F8;
}
.cabinet-earnings-history-table__row:hover{
    background-color: #E2F2FD;
}
.cabinet-earnings-history-table__cell{
    padding: 0 10px;
}
.cabinet-earnings-history-table__cell:nth-child(1){
   width: 70px;
}
.cabinet-earnings-history-table__cell:nth-child(2){
    width: 160px;
}
.cabinet-earnings-history-table__cell:nth-child(3){
    width: 110px;
}
.cabinet-earnings-history-table__cell:nth-child(4){
    width: 80px;
}
.cabinet-earnings-history-table__cell:nth-child(5){
    width: 100px;
}
.cabinet-earnings-history-table__cell:nth-child(6){
    width: 100px;
}
.cabinet-earnings-status{
    position: relative;
}
.cabinet-earnings-status__pending:before,
.cabinet-earnings-status__confirmed:before,
.cabinet-earnings-status__rejected:before{
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 5px;
    height: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-right: 5px;
    margin-top: -2px;
}
.cabinet-earnings-status__pending:before{
    background-color: #FFA959;
}
.cabinet-earnings-status__confirmed:before{
    background-color: #5DD053;
}
.cabinet-earnings-status__rejected:before{
    background-color: #FF6868;
}
.cabinet-earnings-history-table__controls{
    margin: 22px 0 25px 0;
    text-align: center;
}
.cabinet-earnings-history-table-btn{
    display: inline-block;
    margin: 0 8px;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-decoration-line: underline;
    color: #2A2A29;
    cursor: pointer;
}
.cabinet-earnings-history-table-btn_disabled{
    color: #CDCDCD;
    cursor: not-allowed;
}
.cabinet-earnings-history-currency{
    margin: 24px 0 31px 0;
}
.cabinet-earnings-history-currency__title{
    margin-bottom: 7px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #9D9D9C;
}
.cabinet-earnings-history-currency__text{
    margin-left: 17px;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: #2A2A29;
}
.cabinet-earnings-history-currency__item{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.cabinet-earnings-history-currency__select{
    width: 314px;
    height: 35px;
    padding: 0 18px 0 13px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border: 1px solid #000000;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #2A2A29;
}
.cabinet-earnings-history-currency__select-triangle{
    margin-left: auto;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #2A2A29;
}
.modal-cabinet-earnings{
    width: 100%;
    padding: 26px 24px 30px 24px;
    text-align: center;
}
.modal-cabinet-earnings__center{
    max-width: 350px;
    display: inline-block;
}
.modal-cabinet-earnings__img{
    display: inline-block;
    margin-bottom: 15px;
}
.modal-cabinet-earnings__title{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    text-transform: uppercase;
    color: #2A2A29;
}
.modal-cabinet-earnings__text{
    margin: 15px 0 40px 0;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 0.166667px;
    color: #2A2A29;
}
.modal-cabinet-earnings__btns{
    padding-top: 25px;
    border-top: 1px solid #D9D9D9;
    text-align: center;
}
.modal-cabinet-earnings__btn{
    display: inline-block;
    width: 174px;
    height: 35px;
    line-height: 35px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    -webkit-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.154);
    -moz-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.154);
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.154);
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    color: #FFFFFF;
    background-color: #5EBBF2;
    cursor: pointer;
}
.modal-cabinet-earnings__center-continue{
    max-width: 390px;
    display: inline-block;
}
.modal-cabinet-earnings__history{
    display: inline-block;
    vertical-align: middle;
    margin-right: 42px;
    font-family: 'FuturaBKBT', sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 19px;
    text-decoration-line: underline;
    color: #2A2A29;
}
.modal-cabinet-earnings-form{
    width: 100%;
    max-width: 446px;
    padding: 37px 15px 54px 15px;
}
.modal-cabinet-earnings-form__title{
    margin-bottom: 28px;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #2A2A29;
}
.modal-cabinet-earnings-form__field{
    margin-bottom: 20px;
}
.modal-cabinet-earnings-form__label{
    display: inline-block;
    margin-bottom: 6px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #2A2A29;
}
.modal-cabinet-earnings-form__btn{
    padding-top: 20px;
    text-align: center;
}

/*CABINET INFORMATION*/

.cabinet-information{
    max-width: 480px;
    padding: 15px 0 10px 0;
}
.cabinet-information__title{
    margin-bottom: 17px;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #2A2A29;
}
.cabinet-information__subtitle{
    margin-bottom: 25px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.5px;
    color: #2A2A29;
}
.cabinet-information__field{
    margin-bottom: 17px;
}
.label-cabinet-information{
    display: inline-block;
    margin-bottom: 12px;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    color: #2A2A29;
}
.cabinet-information-inp-small-container{
    display: flex;
    flex-wrap: wrap;
}
.cabinet-information-inp-small{
    width: 100px;
    margin-right: 10px;
}
.cabinet-information-inp-medium{
    width: 201px;
}
.cabinet-information__bnts{
    margin-top: 36px;
    text-align: right;
}
.btn-cabinet-information{
    width: 125px;
    height: 45px;
    -webkit-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.154);
    -moz-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.154);
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.154);
    background: #5EBBF2;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 45px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
}
.cabinet-information__checkfield{
    margin-top: 25px;
}
.cabinet-information__billing{
    margin-top: 40px;
}
.cabinet-menu-mobile{
    display: none;
    width: 20px;
    margin-bottom: 20px;
}
.cabinet-menu-mobile div{
    width: 100%;
    height: 2px;
    background-color: #000000;
    margin-top: 4px;
}
.cabinet-menu-mobile_opened div:nth-child(1){
    -webkit-transform: rotate(-45deg) translate(1px, 4px);
    -moz-transform: rotate(-45deg) translate(1px, 4px);
    -ms-transform: rotate(-45deg) translate(1px, 4px);
    -o-transform: rotate(-45deg) translate(1px, 4px);
    transform: rotate(-45deg) translate(1px, 4px);
}
.cabinet-menu-mobile_opened div:nth-child(2){
    display: none;
}
.cabinet-menu-mobile_opened div:nth-child(3){
    -webkit-transform: rotate(45deg) translate(0, -5px);
    -moz-transform: rotate(45deg) translate(0, -5px);
    -ms-transform: rotate(45deg) translate(0, -5px);
    -o-transform: rotate(45deg) translate(0, -5px);
    transform: rotate(45deg) translate(0, -5px);
}
.cabinet-menu.cabinet-menu_opened{
    display: block;
}